---
layout: default
---

<div class="home">

  <!-- We must add the tap-place component to the scene so it has an effect -->
  <a-scene xrweb tap-place xrextras-almost-there xrextras-loading xrextras-runtime-error>

    <!-- We can define assets here to be loaded when A-Frame initializes -->
    <a-assets>
      <a-asset-item id="town" src="assets/models/Lowpoly_City_Free_Pack.glb"></a-asset-item>
    </a-assets>

    <!-- The raycaster will emit mouse events on scene objects specified with the cantap class -->
    <a-camera position="0 8 8" raycaster="objects: .cantap" cursor="
              fuse: false;
              rayOrigin: mouse;">
    </a-camera>

    <a-entity light="type: directional;
                     intensity: 0.8;" position="1 4.3 2.5">
    </a-entity>

    <a-light type="ambient" intensity="1"></a-light>

    <a-entity gltf-model="#town" scale="0.025 0.025 0.025">
    </a-entity>

    <!-- Adding the cantap class allows the ground to be clicked -->
    <!-- <a-entity id="ground" class="cantap" geometry="primitive: box"
      material="color: #ffffff; transparent: true; opacity: 0.0" scale="1000 2 1000" position="0 -1 0">
    </a-entity> -->
  </a-scene>
</div>
